nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
  }
  nav a:hover {
    color: #ccc;
  }
  #selected-image{
  width:200px;
  height:200px;
  margin: 10px;
}
body{
   background-image: url("pexels-negative-space-34633.jpg");
    background-size: cover;
  
   background-repeat: no-repeat; /* This will make the image to not repeat */
  
}
  @media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  nav {
    margin-top: 10px;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
}

.menu-icon {
  display: none; /* hide the menu icon by default */
}

.menu-icon .bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .menu-icon {
    display: block; /* show the menu icon on small screens */
  }
  ul {
    display: none; /* hide the menu on small screens */
  }
}
div.outer
{
  background-color:none;
  padding: 100px 100px 100px 100px;
}
div.inner{
  color: black;
  background-color: #333;
  position: relative;
  height: 10cm;
  width: 10cm;
  transition: transform 1s;
}
.outer:hover .inner{
  background-color: #fff;
  transform: translateX(100%);
}

